<div class="padded-space"></div>
<div class="padded-space"></div>
<div class="padded-space"></div>
<div class="padded-space"></div>


<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>


