h4.divider:before {
    content: "";
    background: #000;
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
}

h4.divider {
  position: relative;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
  padding: 0;
  display: block;
  margin: 10px auto 0px auto;
  line-height: 2em;
  width: 95%;
}

h4.divider span {
    padding: 0px 10px;
    background: #F4F4F4;
    position: relative;
    font-weight: initial;
}

body{
  background: #F4F4F4 !important;
}

.sans {
    font-family: 'Oswald', 'Impact', sans-serif;
    font-weight: 400;
}

.padded-space{
  height: 30px;
  background: #F4F4F4;
}
